body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin: 0; /* Remove default margin */
    background-color: #091a2c; /* Background color */
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #091a2c;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
}

.navbar-links {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    padding: 10px;
}

/* Navbar links */
.navbar a {
    display: inline-block;
    text-align: center;
    padding: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px; /* Add space between links */
}

/* Remove margin-right for the last link */
.navbar a:last-child {
    margin-right: 0;
}

.active {
    color: #04AA6D;
    border-bottom: 2px solid #FF5733;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.intro {
    color: #ffffff;
    text-align: center; /* Center align text */
    margin-bottom: 20px; /* Add margin to the bottom of the intro */
    width: 100%; /* Ensure full width */
}

.intro h1 {
    font-size: 36px; /* Adjust font size */
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.photo img {
    max-width: 50%;
    height: 50%;
    border-radius: 30%; /* Rounded corners for the photo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add margin to the top of the image */
}

/* Responsive design */
@media (min-width: 1000px) {
    .content {
        flex-direction: row;
        justify-content: space-between; /* Space between intro and photo */
    }

    .intro {
        max-width: 50%;
        margin-right: 20px; /* Add margin to the right of the intro */
    }

    .photo img {
        margin-left: 20px; /* Add margin to the left of the image */
    }
}

/* Animation for the text */
.animated-text span {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}